* {
  margin: 0;
  text-decoration: none;
  list-style: none;
}
header {
  background: rgb(121, 99, 255);
  background: linear-gradient(
    288deg,
    rgba(121, 99, 255, 1) 0%,
    rgba(18, 31, 170, 1) 100%
  );
  display: flex;
  z-index: 1000000;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  font-weight: 600;
  /* margin-bottom: 65px; */
  
  height: 65px;

}
nav {
  
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 250px;
}
.headerUL {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* float: right; */
}
.headerLi {
  /* margin: 0 5px; */
}
.headerLi  {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 2px;
  /* position: relative; */
}

.headerUL a:active,
.headerUL a:hover,
.button:hover {
  background: rgb(121, 99, 255);
  transition: 0.5s;
}

.checkbtn {
  float: right;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

.button {
  border-radius: 25px;
  display: none;
  background: rgb(121, 99, 255);
}

@media (max-width: 720px) {
  header {
    height: 160px;
  }
  nav {
    width: 80%;
  }
  .logo {
    width: 600px;
  }
  .checkbtn {
    display: flex;
  }
  .headerUL {
    position: absolute;
    width: 100%;
    background: rgb(121, 99, 255);
    background: linear-gradient(
      288deg,
      rgb(86, 60, 255) 0%,
      rgba(18, 31, 170, 1) 100%
    );

    top: 160px;
    left: -100%;
    text-align: center;
    transition: all 0.3s;
    border-top: 5px solid white;
    flex-direction: column;
  }
  .headerUL a {
    display: flex;
    /* position: relative; */
    margin: auto;
    line-height: 100px;
    width: 100%;
  }
  .headerLi  {
    font-size: 40px;
    /* margin: auto; */
    width: 100%; 

    /* background-color: brown; */
    /* width: 97%; */
  }

  /* .checkbtn:hover{
    display: none;
   }
    */
    .headerUL:active {
    left: 0;
  }
   .checkbtn:hover ~ .headerUL {
    left: 0px;
  } 
  /* #check:checked ~ ul {
    left: 0;
  } */

}
