* {
  margin: 0;
  text-decoration: none;
  list-style: none;
}
header {
  background: rgb(121, 99, 255);
  background: linear-gradient(
    288deg,
    rgba(121, 99, 255, 1) 0%,
    rgba(18, 31, 170, 1) 100%
  );
  display: flex;
  z-index: 1000000;
  /* font-family: sans-serif; */
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  font-weight: 600;
  height: 65px;
}
nav {
  
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 250px;
  padding:30px;
}
.headerUL {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.headerLi  {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 2px;
}

.headerUL a:active,
.headerUL a:hover,
.button:hover {
  background: rgb(121, 99, 255);
  transition: 0.5s;
}

.checkbtn {
  float: right;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
  
}

.button {
  border-radius: 25px;
  display: none;
  background: rgb(121, 99, 255);
}

@media (max-width: 720px) {
  header {
    height: 80px;
  }
  nav {
    width: 80%;
  }
  .logo {
    width: 25%x;
    padding: 7%;
  }
  .checkbtn {
    display: flex;
  }
  .headerUL {
    position: absolute;
    width: 100%;
    background: rgb(121, 99, 255);
    background: linear-gradient(
      288deg,
      rgb(86, 60, 255) 0%,
      rgba(18, 31, 170, 1) 100%
    );

    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.3s;
    border-top: 5px solid white;
    flex-direction: column;
  }
  .headerUL a {
    display: flex;
    margin: auto;
    line-height: 10px;
    width: 100%;
    font-size: xx-small;
    padding: 10px;
  }
  .headerUL a *{
    font-size: medium;
    
  }
  .headerLi  {
    font-size: 40px;
    width: 100%; 
  }

    .headerUL:active {
    left: 0;
  }
   .checkbtn:hover ~ .headerUL {
    left: 0px;
  } 


}
