* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-weight: 600;
}

header {
  background: rgba(217, 0, 0, 1);
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
nav {
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {

}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;

  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 2px;
}
a.active,
a:hover,
button:hover {
  background-color: rgb(255, 31, 31);
  transition: 0.5s;
}

.checkbtn {
    float: right;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.button {
  border-radius: 25px;
  background-color: rgb(173, 2, 2);
}

@media (max-width: 1000px) {
  .logo {
    /* margin-left: 100px; */

  }
  nav ul {
      /* margin-right: 100px; */
  }
  nav ul li a {
  }
}
@media (max-width: 600px) {
  header {
    height: 160px;
    
  }
  nav {
  }
  .logo {
  }
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    background: rgba(217, 0, 0, 1);

    top: 120px;
    left: -100%;
    text-align: center;
    transition: all 0.3s;

  }
  nav ul li {
    display: block;
    padding: 20px;
    position: relative;
    line-height: 80px;
  }
  nav ul li a {
    font-size: 40px;
  }
  a:hover,
  a.active {
    background: none;
    color: white;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
