.homePage {
  margin-bottom: 50px;
}
.cover {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar {
  height: 300px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 20px 0.5px rgba(68, 68, 68, 0.29);
  margin-top: -150px;
  text-align: center;
}

.info {
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: none;
  height: 300px;
  margin-top: -170px;
  z-index: 100000;
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 17%,
    rgba(240, 240, 240, 1) 100%
  );
}
.info h1 {
  padding-top: 150px;
}
@media (max-width: 720px) {
  .avatar {
    height: 50%;
    width: 50%;
    margin-top: -25%;
  }


  .homePage {
    font-size: 40px;
  }
  .info {
    height: 450px;
    margin-top: -270px;
    font-size: medium;
  }

  .info h1 {
    padding-top: 230px;
  }
}
