.projectPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.pageTitle{
  font-size: 30px;
  padding: 20px;
}

.slides {
  margin-bottom: 40px;
  width: 96%;  
  margin: auto;
}


.slick-dots {
  background-color: transparent;
}
*:focus {
  outline: 0;
  outline: none;
}

.filterButtons button{
  color: white;
  padding: 10px 20px;
  border-radius: 2px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  background: rgb(36, 50, 207);
}
.selectPicker{
  padding: 10px 40px;
  background: rgb(121, 99, 255);
  background: linear-gradient(
    288deg,
    rgba(121, 99, 255, 1) 0%,
    rgba(18, 31, 170, 1) 100%
  );
  border: none;
  color: white;
  border-radius: 2px;
  text-align: center;
  text-align-last: center;
}
 option{
  background: rgb(81, 58, 231);
  text-align: center;
}

@media (max-width: 720px) {
  .pageTitle{
    font-size: xx-large;
  }
  .selectPicker{
    font-size: medium;
  }
   option{
    font-size: medium;
  }

}
