.projectPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;

  /* background-color: rgb(240, 240, 240); */
  
  /* border: 1px solid red; */
}
.projectPage:target {

}

.pageTitle{
  font-size: 50px;
  /* margin: 40px auto ; */
  padding: 20px;

}
/* .slick-list{
  padding: 0 30% 0 0;
} */
.slides {
  margin-bottom: 40px;

  width: 96%;  
  margin: auto;
}
.slidesBody {
}
/* .slick-next:before { */
  /* width: 46px; */
  /* margin: auto;
  height: 18px;
  border-radius: 20px;
  background-color: black;
  color: black; */
  /* content: "" !important; */
  /* position: fixed;
  top: -10px;
  right: -20px;
  z-index: 1; */
  
  /* background-image: url("../assets/images/next.png"); */
  /* background-size: cover;  */
/* } */
/* .slick-prev:before { */
  /* width: 46px;
  height: 46px;
  content: "" !important;
  position: fixed;
  top: -10px;
  left: -20px;
  z-index: 1;
  background-image: url("../assets/images/prev.png");
  background-size: cover; */
/* } */
.slick-dots {
  background-color: transparent;
  /* height: 1000px; */
}
*:focus {
  outline: 0;
  outline: none;
}
/* .filterButtons {
  display: flex;
  justify-content: center;
  align-items: ;
} */
.filterButtons button{
  color: white;
  padding: 10px 20px;
  /* padding: 30px 80px; */
  /* margin-top: 40px; */
  border-radius: 2px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  /* box-shadow: 8px 8px 5px -7px rgba(0, 0, 0, 0.29); */

  background: rgb(36, 50, 207) ;
  /* margin: auto; */
  /* background: linear-gradient(288deg, rgba(121,99,255,1) 0%, rgba(18,31,170,1) 100%);

 */
}

@media (max-width: 720px) {
  .pageTitle{
    font-size: 100px;
    /* margin: auto 10px ; */
  
  }
  .filterButtons button{
    padding: 10px 20px;
    /* padding: 30px 80px; */
    /* margin-top: 40px; */

    font-size: 27px;
    /* box-shadow: 8px 8px 5px -7px rgba(0, 0, 0, 0.29); */
  
    /* background: linear-gradient(288deg, rgba(121,99,255,1) 0%, rgba(18,31,170,1) 100%);
  
   */
  }

}
