.projectCard {
  height: 500px;
  width: 350px;
  box-shadow: 10px 9px 30px -9px rgba(0, 0, 0, 0.29);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  font-family: sans-serif;
  background-color: white;
  margin: 30px auto;
}

.cardimg__img {
  width: 100%;
  max-height: 100%;
  position: relative;
  margin: auto;
}
.cardimg {
  height: 100%;
}
.cardbody a {
  color: white;
  padding: 10px 40px;
  margin-top: 40px;
  border-radius: 5px;
  box-shadow: 8px 8px 5px -7px rgba(0, 0, 0, 0.29);

  background: rgb(121,99,255);
  background: linear-gradient(288deg, rgba(121,99,255,1) 0%, rgba(18,31,170,1) 100%);
}
.details {
  height: 100%;
  width: 100%;
  top: 70%;
  position: absolute;
  transition: 0.5s;
  background-color: rgb(251, 251, 251);
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30%;
}
.title__text {
  margin: auto;
}

.title img {
  height: 30px;
  width: 30px;
  margin-bottom: 20px;
}

.cardbody {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  height: 100%;
}
.cardbody h6 {
  margin-bottom: 20px;
}
@media (min-width: 720px) {
  #projectCard:hover #details {
    top: 0px;
    transition: 0.5s;
  }
  #projectCard:hover .title img {
    display: none;
    transition: 0.5s;
  }
}

@media (max-width: 720px) {
  #details:hover {
    top: 0px;
    transition: 0.5s;
  }
  #details:hover .title img {
    display: none;
    transition: 0.5s;
  }

  #details {
  }
  .projectCard {
    height: 1250px;
    width: 1220px;
    font-size: 35px;
  }
  .cardbody {
    font-size:60px;
    font-weight: lighter;
  }
  .title img {
    height: 60px;
    width: 60px;
    margin: 60px;
  }
  .cardbody a {
    padding: 30px 80px;
    margin-top: 80px;

  }
}
