.experienceCard {
  height: 200px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  font-family: sans-serif;
  background-color: white;
  margin: 20px auto;
  font-weight: 900;
}
.ecardimg {
  display: flex;
  width: 600px;
  height: 100%;
}
.ecardimg__img {
  max-width: 300px;
  max-height: 100%;
  margin: auto;
}

.edetails {
  height: 100%;
  width: 100%;
  left: 67.667%;
  position: absolute;
  transition: 0.3s;
  flex-direction: row;
  display: flex;
}

.etitleMain {
  display: flex;
  justify-content: space-between;
  width: 33.33333333333%;

  background-color: rgb(253, 253, 253);
  
}
.etitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  margin-left: 20px;
}

.etitle__slide {
  margin: auto 20px;
  height: 30px;
  width: 30px;
}

.ecardbody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  text-align: start;
  width: 67.666666666666666667%;
  background-color: rgb(251, 251, 251);
  font-size: small;
}
.ecardbody a {
  color: white;
  padding: 8px 30px;
  border-radius: 25px;
  background-color: rgb(173, 2, 2);
}
.ecardbody h6 {
  margin-bottom: 10px;
}
@media (min-width: 720px) {
  #experienceCard:hover #edetails {
    transition: 0.4s;
    left: 0%;
  }

  #experienceCard:hover .etitle__slide {
    display: none;
  }
}
@media (max-width: 720px) {
  .experienceCard {
    display: flex;
    flex-direction: column;
    font-size: smaller;
    height: 500px;
    width: 98%;
    justify-content: space-between;
    font-weight: 100;
    text-align: center;

  position: relative;
  margin: auto;
  margin-bottom: 20px;

  }

  .etitleMain {
    height: 30%;
    width: 100%;
    /* margin: auto; */
    background-color: rgb(253, 253, 253);
    justify-content: center;
  }
  .etitle__slide {
    justify-content: center;
    display: none;
  }

  .edetails {
    height: 80%;
    width: 100%;
    left: 0;
    position: relative;
    flex-direction: column;
    display: flex;
  }


  .ecardimg__img {
    max-height: 60%;
    max-width: 50%;
    margin: auto;
  }
  .ecardbody {
    width: 100%;
    height: 70%;
    left: 0;
    padding: 20px;
    margin: auto;

  }
  .etitle{
    width: 100%;
    margin: auto;
    height: 100%;

  }
  .ecardimg {
    display: flex;
    width: 100%;
    margin: auto;
    height: 20%;
  }
}
