.experienceCard {
  height: 200px;
  width: 1400px;
  /* box-shadow: 10px 9px 30px -1px rgba(0, 0, 0, 0.29); */
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  /* border-radius: 10px; */
  position: relative;
  overflow: hidden;
  font-family: sans-serif;
  background-color: white;
  margin: 20px auto;
  /* background-color: red; */
}
.ecardimg{
  width: 600px;
  height: 200px;

}
.experienceCard img {
  max-width: 600px;
  /* width: 600px; */
  max-height: 100%;
  position: relative;
  margin: auto;
}
.edetails {
  height: 100%;
  width: 800px;
  left: 750px;
  position: absolute;
  transition: 0.3s;
  background-color:white;
  flex-direction: row;
  /* border: 1px solid blue; */
  display: flex;
  
}
.ecardbody a {
  color: white;
  padding: 8px 30px;
  border-radius: 25px;
  background-color: rgb(173, 2, 2);
}

.etitle {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  min-width: 650px;
  /* width: 500px; */
  /* background-color: rgb(255, 255, 255); */
  font-size: small;
  overflow: hidden;
  text-align: justify;
  padding: 50px;

}
.ecardbody {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  max-height: 200px;
  min-width: 750px;
  width: 750px;


}
.ecardbody h6 {
  margin-bottom: 10px;
}

#experienceCard:hover #edetails {
  transition: 0.4s;
  left: 0%;

}
