.sCard {
  height: 150px;
  width: 210px;
  box-shadow: 10px 9px 30px -9px rgba(0, 0, 0, 0.29);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  font-family: sans-serif;
  background-color: white;
  margin: 30px auto;
  font-size: smaller;
}

@media (max-width: 720px) {
  .sCard {
  font-size:xx-small;
  margin: 10px auto;

    height: 70px;
    width: 100px;
  }

}