@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

.app {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(237, 237, 237, 1) 100%
  );
  min-width: 1424px;
  padding-bottom: 10px;
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}
.main {
}
.body {
  width: 1200px;
  margin: auto;

}

@media (max-width: 720px) {
  .main {
  }
  .body {
    width: 100%;

  }
}
